.Cart .books h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Cart .books p {
  color: #666;
}

.list-itm {
  position: relative;
  margin-bottom: 10px;
}

#footer {
  position: absolute;
  bottom: 20px;
}

.total-container {
  position: relative;
}


.price {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
}
